/*
imgslide.css
By: Soonthorn Cheevasit
*/

div#captioned-gallery { width: 50%; overflow: hidden; }
figure { margin: 0; }
figure.slider {
position: relative; width: 500%;
font-size: 0; animation: 4s slidy infinite;
}

figure.slider figure {
width: 20%; height: auto;
display: inline-block;
position: inherit;
}

figure.slider img { width: 100%; height: auto; }
figure.slider figure figcaption {
position: absolute; bottom: 0;
background: rgba(0,0,0,0.3);
color: #fff; width: 100%;
font-size: 2rem; padding: .6rem;
}



