/*
ss1.css
By: Soonthorn Cheevasit
*/

body {
	color:				#4169e1;
	font-family: 		'Ovo', serif;
	background-color:	#F7A853;
	width:				85%;
	margin:				auto;
}

#header {
	clear:				both;
	text-align:			center;
	border-bottom:		3px solid #ffffff;
}

.h1 {
	font-size:			115%;
	font-weight:		bold;
	color:				#4b0082;
}

.description{
	font-size:			100%;
	font-family: 		'Ovo', serif;
}

#navbar{
	font-size:			100%;
	width: 				85%;
	float: 				left;
	padding-left:		0px;
	text-align:			center;
	margin-left:		185px;
	color: 				#ffffff;
}

ul#nav {
	list-style:			none;
	line-height:		1.5em;
}

ul#nav li{
	float:				left;
	width:				130px;
	list-style:			none;
	position:			relative;
	z-index:			100;
}

ul#nav li a{
	border: 			1px solid #ffffff;
	display: 			block;
	background-color: 	#98bf21;
	padding: 			4px;
    text-decoration: 	none;
}


li ul { display: none; }

li:hover ul {
	display:			block;
	position:			absolute;
	z-index:			25;
}

#footer {
	font-size:			80%;
	font-style:			italic;
	text-align:			center;
	border-top:			thin solid #ffffff;
	margin-top:			20px;
	clear:				both;
	color:				#ffffff;
}

/*Contact Form Format*/

table, td, tr {
    border: 1px solid #04B45F;
}

tr {
    background-color: #A9E2F3;
    color: green;
}










#coming {
	width:				155px;
	float:				right;
	text-align:			center;
	border:				1px solid #ffffff;
	background-color:	#ffcccc;
	display:			block;
	margin-bottom:		20px;
}


#coming img {
	width:				100px;
	height:				90px;
}

#recommend {
	width:				155px;
	float:				left;
	text-align:			center;
	border:				1px solid #ffffff;
	background-color:	#ffff99;
	display:			block;
}

#recommend img {
	width:				100px;
	height:				90px;
}







a:link					{ color: #ffffff; }
a:hover					{ color: #4169e1; }

#about {
	width:				50%;
	margin-left:		240px;
	text-align:			center;
	font-family: 		'Ovo', serif;
	color:				#ffffff;
	font-size:			150%;
}


#main {
	width:				50%;
	margin-left:		240px;
	text-align:			center;
	font-family: 		'Rock Salt', cursive;
	color:				#191970;
	font-size:			150%;
}

#main img {
	width:				150px;
	height:				145px;
}

#pic {
	width:				50%;
	margin-left:		240px;
	text-align:			center;
	font-family: 		'Rock Salt', cursive;
	color:				#191970;
	font-size:			125%;
}




/*
Form
*/

#registerform {
	width:				38%;
	margin:				auto;
	border:				2px solid #ffffff;
	margin-top:			5px;
	padding-left:		5px;
	background-color:	#ffcc99;
	box-shadow:			5px 5px 3px 3px rgba(25,75,75,.4);
	font-family: 		'Josefin Sans', sans-serif;
	
}

.formhead1 {
	font-size:			105%;
	font-weight:		bold;
	text-decoration:	underline;
	font-family: 		'Josefin Sans', sans-serif;
	text-align:			center;
}

.submit { text-align: center; }

.submit input {
	font-size:			100%;
	background-color:	#66ccff;
	color:				#ffffff;
	font-style:			italic;
	font-weight:		bold;
	border-radius:		5px;
	box-shadow:			3px 3px 0px 0px rgba(102,104,255,.4);
	font-family: 		'Josefin Sans', sans-serif;
}

.reset input { 
	font-size:			100%;
	background-color: 	#ff6666; 
	box-shadow:			3px 3px 0px 0px rgba(238,17,17,.4);
	font-family: 		'Josefin Sans', sans-serif;
}

label {
	width:				11em;
	float:				left;
	text-align:			left;
}


#messages {
	color: 				#f00;
	text-align:			center;
	font-style:			italic;
	font-weight: 		bold;
	font-size:			80%;
	margin-top:			10px;
}

select{
	width: 				220px;
	height:				23px;
	border-radius:		5px;
	background:			#fff;
}

select:required {
	background:			#ffff99;
}

select:valid { background: #fff; }
	
select:invalid:focus { background: #ff6666; }

/* Pseudo class code*/

textarea{
	padding:			3px;
	width:				390px;
	background:			#fff no-repeat top right;
	resize:				none;
}

textarea:required { background-image: url('../images/required.png'); }

textarea:valid { background-image: url('../images/valid.png'); }

textarea:invalid:focus { background-image: url('../images/invalid.png'); }




input[type=text], input[type=password], input[type=email] {
	width:				210px;
	padding:			3px;
}

input:not([type=submit]):not([type=checkbox]):not([type=reset]) {
	background:			white no-repeat top right;
}

input:not([type=submit]):not([type=checkbox]):required {
	background-image: url('../images/required.png');
}

input:not([type=submit]):not([type=checkbox]):valid {
	background-image: url('../images/valid.png');
}

input:not([type=submit]):not([type=checkbox]):invalid:focus {
	background-image: url('../images/invalid.png');
}


.bold { font-weight: bold; }


#registered {
	color:				#228b22;
	font-size:			90%;
	font-style:			italic;
	font-weight:		bold;
	text-align:			center;
}

.logerr {
	color:				#f00;
	font-size:			90%;
	font-style:			italic;
	font-weight:		bold;
	padding-left: 		10px;
}



